<HTML>
	<HEAD>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

		<link rel="stylesheet" type="text/css" href="jquery-easyui-1.8.5/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="jquery-easyui-1.8.5/themes/icon.css">
		<script type="text/javascript" src="jquery-easyui-1.8.5/jquery.min.js"></script>
		<script type="text/javascript" src="jquery-easyui-1.8.5/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="jquery-easyui-1.8.5/locale/easyui-lang-zh_CN.js"></script>


	</HEAD>
	<BODY style="cursor: default; background: #e7f3ff;" text=#000000
		leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
		<ul id="tt"></ul>
		<script type="text/javascript">
			//把菜单信息 填写进ul列表中
			$("#tt").tree({
				url:'SysMenuSouAndNode',
				method:'get',
				//当点击列表项时  发生相对应的页面改变
				onClick: function(node){
					//跳转相对应的页面
					window.parent.main.location=node.attributes.linkUrl;
				}
			})
		</script>
	</BODY>
</HTML>





